* {
  box-sizing: border-box;
}

html, body {
    /*높이를 화면에 꽉 채우게 해서 귀찮게 계산 안해도 됨*/
    height: 100%; 
    /*스크롤바 없애줌*/
    overflow: hidden; 
} 
body {
    /*가운데 정렬을 위한 작업*/
    display: flex; 
    /*정렬*/
    align-items: center;
     /*정렬  */
    justify-content: center;
    /* 위에서 아래로 그라데이션 주기 */
    background: linear-gradient(to bottom, #74ABE2, #5563DE); 
}

.slider {
    /* 캐러셀이 보이는 영역 */
    width: 300px; 
    /* 상단에 숫자 버튼을 가운데정렬 시켜줌 */
    text-align: center;
    /* 보이지 않는 캐러셀 영역이 움직이면 
    하단에 스크롤바가 생기는데 스크롤바 안보이게 막아줌 */
    overflow: hidden;
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }


/* 잘 이해 안되는 부분임 */
.slides {
    /* 정렬을 위한 과정 */
    display: flex;
    /* 이거없으면 캐러셀이 아니게 됨 원리 파악 필요 있음 */
    overflow-x: auto;
    /* (스크롤 바) 
    슬라이드가 넘어갈 때 자동으로 넘어가게 해줌 */
    scroll-snap-type: x mandatory;
    /* (상단 버튼)
    슬라이드가 넘어갈 때 스무스하게 넘어가게 해줌 */
    scroll-behavior: smooth;
}

/* 하단에 스크롤바 높이 조절 */
.slides::-webkit-scrollbar {
  height: 10px;
}

/* 하단 스크롤바 디자인 */
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}



.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/* 5번의 우측에 여백을 주지 않음 */
.m-r{
    margin-right: 50px;
}

/* .author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */



/* Don't need button navigation */
/* @supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}*/

